# Environment files
env.py
venv/

# OS files
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Cache
.cache/
__pycache__/

# Train and test images
images/

# CSV files
*.csv

# Kaggle
kaggle.json

# Pickle files
breed_dict.pkl
final_features.pkl
ids.pkl
n_breeds.pkl
test_predict.pkl
y.pkl